<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<h1>Welcome!<span th:if="${user != null}">  <span th:text="${user.username}"></span></span>
</h1>

<div th:if="${user != null}">
    <div th:if="${user.posts.size() > 0}">
    <h2>Here Are All Your Current Ads!</h2>
    <div th:each="post : ${user.posts}" class="float-left m-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 th:text="${post.title}" class="card-title"></h4>
                <p th:text="${post.body}" class="card-text"></p>
                <div>
                    <form action="/posts/edit" method="get">
                        <input type="hidden" name="id" th:value="${post.id}">
                        <button type="submit" class="btn btn-warning">Click to Edit</button>
                    </form>
                    <form action="/posts/delete" method="get">
                        <input type="hidden" name="id" th:value="${post.id}">
                        <button type="submit" class="btn btn-danger">Click to Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div th:if="${user.posts.size() == 0}">
        <h2>Once You Create an Add, You Can View It Here By Clicking The Blog Button in The Top Left</h2>
    </div>
</div>
<h2 th:if="${user == null}">Log in or Sign Up to Get Started!</h2>

<!--<footer th:replace="partials/footer :: footer"></footer>-->

<th:block th:insert="partials/scripts :: scripts"></th:block>
</body>
</html>